.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cart{
    
    width: 400px;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.Items{
    display: flex;
    align-items: center;
    gap: 15px;
}
.Items h2{
    font-weight: 500;
    margin: auto;
}
.info{
  
    margin-top: 20px;
   margin-bottom: 15px;
    font-size: 18px;
}
.formInput1{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formInput2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formInput3{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 50px;
}
.formInput3 select{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.formInput4{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
label{
    margin-bottom: 5px;
    font-weight: 500;
}
form{
    position: relative;
}
a{
    position: absolute;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    background-color: #3ed56b;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


