<div class="container">
  <div class="card">
    <div class="brand">
      <div>
        <h1>Login</h1>
        <p class="lead">Enter your email & password </p>
      </div>
    </div>

    <form  (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" placeholder="name@example.com" formControlName="email" />
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" placeholder="Enter your password"
          formControlName="password" />
      </div>

      <div class="actions">
        <button class="submit" type="submit" routerLink="/profile">Login</button>
      </div>

      <div class="alt">Don't have an account? <button class="link" routerLink="/register1">Sign up</button></div>
    </form>
  </div>
</div>